#big-video-wrap{
  overflow:hidden;
  position:fixed;
  height:100%;
  width:100%;
  top:0;
  left:0;
  background: $black;
  opacity: 0.0;

  transition: opacity .5s ease-in-out;
  -moz-transition: opacity .5s ease-in-out;
  -webkit-transition: opacity .5s ease-in-out;

  .vjs-control-bar,
  .vjs-big-play-button,
  .vjs-loading-spinner,
  .vjs-error-display,
  .vjs-caption-settings {
    display: none;
  }

  &.asset-loaded {
    opacity: 1.0;
  }
}
#big-video-vid,
#big-video-image{
  position:absolute;
}

.fade-in {
  opacity: 0.0;

  // transition: opacity .5s ease-in-out;
  // -moz-transition: opacity .5s ease-in-out;
  // -webkit-transition: opacity .5s ease-in-out;

  -webkit-backface-visibility: hidden;
  -webkit-transform: translate3d(0, 0, 0);
  -webkit-perspective: 1000;

  &.act {
    opacity: 1.0;
  }
}

.landing-page {
  width: 100%;
  height: 100%;

  position: relative;

  .content {
    position: absolute;
    top: 50%;
    left: 0;
    right: 0;
    margin-top: -80px;
    height: 160px;
  }

  .title {
    color: $white;
    font-family: $pressura;
    font-size: rem-calc(36px);
    text-align: center;

    @media screen and (max-width: $break-small) {
      font-size: rem-calc(26px);
    }
  }

  .subtitle {
    color: $white;
    font-family: $sectra-book;
    font-size: rem-calc(72px);
    text-align: center;

    @media screen and (max-width: $break-small) {
      font-size: rem-calc(50px);
    }
  }

  .external-link {
    color: $white;
    font-family: $sectra-book;
    font-size: rem-calc(18px);
    background: rgba(255,255,255, 0.1);

    display: inline-block;
    padding: 8px 0;
    width: 320px;
    border-radius: 4px;

    margin: 0 auto;
    text-align: center;

    position: absolute;
    left: 0; right: 0;
    bottom: 60px;

    @media screen and (max-width: $break-small) {
      font-size: rem-calc(12px);
      width: 220px;
    }
  }
}