.info-overlay {
  position: fixed;

  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 100%;

  z-index: 20;

  background: rgba(255,255,255,0.95);

  display: none;
  opacity: 0.0;

  .info-overlay-content {
    a {
      color: $black;
    }
    a:hover {
      color: $light-gray;
    }

    @media screen and (max-width: $break-medium) {
      max-width: 400px;
      width: 80%;
      padding-left: 10%;
      padding-right: 10%;
    }
  }

  .float-left {
    float: left;
  }

  .float-right {
    float: right;
  }

  .purchase-content {
    max-width: 400px;
    width: 90%;
    padding-left: 5%;
    padding-right: 5%;
  }

  &.show {
    display: block;
    opacity: 1.0;
  }

  .sep {
    width: 1px;
    background: $light-gray;
    height: 200px;
    display: inline-block;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 50%;
    margin: -75px 0 0 -0.5px;
  }

  &-title {
    font-family: $pressura;
    font-size: rem-calc(24px);
  }

  &-content {
    position: absolute;
    top: 50%;
    left: 0;
    right: 0;
    transform: translateY(-50%);

    max-width: 600px;
    width: 100%;
    margin: 0 auto;

    text-align: center;

    p {
      font-family: $sectra-book;
      font-size: rem-calc(18px);
      line-height: rem-calc(28px);

      color: $black;
    }
  }

  &-links {
    margin-top: 20px;

    span,
    a {
      font-family: $sectra-book;
      font-size: rem-calc(18px);
      line-height: rem-calc(22px);
      display: inline-block;

      color: $black;

      margin: 0 4px;
      border-bottom: 1px solid $black;

      color: $black;
    }

    span {
      border-bottom: none;
    }

    a:hover {
      border-bottom: 1px solid $light-gray;
    }
  }

  &-close {
    width: 32px;
    height: 32px;
    display: block;
    overflow: hidden;
    text-indent: -9999px;

    background-image: url(../images/close.svg);
    background-repeat: no-repeat;
    background-position: center center;

    position: absolute;
    top: 25px;
    right: 30px;
    z-index: 10;
  }
}