.progress-indicator-holder {
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  width: 100%;
  height: 10px;

  .progress-indicator {
    background-color: $jhj-sea-foam;
    height: 10px;
  }
}