.progress-indicator-holder {
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  width: 100%;
  height: 10px;

  .progress-indicator {
    background-color: $sea-foam;
    height: 4px;

    -webkit-transition: width .25s;
    -moz-transition: width .25s;
    -o-transition: width .25s;
    transition: width .25s;
  }
}