.track-container {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  width: 100%;
  overflow: hidden;
}

.track-header {
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  width: 100%;

  transform: translateZ(0);
  -webkit-transform: translateZ(0);

  z-index: 0;
}

.track-content {
  margin: -100px 10% 100px;
  width: 80%;
  transform: translateZ(0);
  -webkit-transform: translateZ(0);
  min-height: 1000px;
}

.track-name {
  font-family: $sectra-book;
  font-size: rem-calc(96px);
  line-height: rem-calc(112px);

  position: absolute;
  text-align: center;
  top: 50%;
  left: 0;
  right: 0;
  transform: translateY(-50%) translateZ(0);
  -webkit-transform: translateY(-50%) translateZ(0);

  z-index: 0;

  @media screen and (max-width: $break-medium) {
    font-size: rem-calc(100px);
  }

  @media screen and (max-width: $break-small) {
    font-size: rem-calc(48px);
  }

  // .coming-soon {
  //   font-size: rem-calc(32px);
  // }
}

.site-name,
.track-number {
  font-family: $pressura;
  font-size: rem-calc(48px);
}

.track-progress-bar {
  opacity: 0.0;
  display: none;

  height: 100%;
  width: 100%;

  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;

  .track-progress-bar-content {
    position: absolute;

    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    width: 100%;
    height: 100%;

    // transform: translateY(-50%) translateZ(0);
    // -webkit-transform: translateY(-50%) translateZ(0);

    text-align: center;
  }

  .track-progress-label {
    font-family: $sectra-book;
    font-size: rem-calc(24px);
    line-height: rem-calc(30px);
    color: $black;

    @media screen and (max-width: $break-medium) {
      font-size: rem-calc(18px);
      line-height: rem-calc(24px);
    }

    position: absolute;

    top: 50%;
    left: 0;
    right: 0;

    transform: translateY(-50%) translateZ(0);
    -webkit-transform: translateY(-50%) translateZ(0);

    z-index: 1001;
  }

  .track-progress-number {
    font-family: $sectra-book;
    font-size: rem-calc(24px);
    line-height: rem-calc(30px);
    color: $black;

    @media screen and (max-width: $break-medium) {
      font-size: rem-calc(18px);
      line-height: rem-calc(24px);
    }
  }

  .track-progress-bar-holder {
    width: 100%;
    height: 100%;

    position: relative;

    // margin: 30px auto;

    background: #FFFFFF;

    // @media screen and (max-width: $break-medium) {
    //   width: 200px;
    //   margin: 15px auto;
    // }
  }

  .track-progress-bar-fill {
    height: 100%;
    width: 0;
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;

    z-index: 100;

    background: rgba(0,0,0,0.1);

    transition: width .25s ease-in-out;
    -moz-transition: width 1s ease-in-out;
    -webkit-transition: width 1s ease-in-out;
  }
}

.site-name {
  position: absolute;
  top: 20%;
  left: 20%;
}

.track-number {
  position: absolute;
  top: 78%;
  right: 20%;
}

.track-meta {
  // min-height: 800px;
  position: relative;
}

.track {
  transform: translateZ(0);
  -webkit-transform: translateZ(0);
}

.video-element {
  height: auto;

  @media screen and (max-width: $break-medium) {
    display: none;
  }
}

.text-element {
  width: 30%;
  border: 8px solid $black;
  background: $white;

  font-family: $sectra-book;
  font-size: rem-calc(24px);
  line-height: rem-calc(32px);
  color: $black;

  text-align: left;

  -webkit-box-shadow: 14px 16px 20px 0px rgba(0,0,0,0.25);
  -moz-box-shadow: 14px 16px 20px 0px rgba(0,0,0,0.25);
  box-shadow: 14px 16px 20px 0px rgba(0,0,0,0.25);

  @media screen and (max-width: $break-medium) {
    margin: -10px;
  }

  p {
    margin: 30px;
    padding: 0;
  }
}

.grid-item {
  @media screen and (max-width: $break-medium) {
    width: 100% !important;
  }
}

.dead-track {
  .track-name,
  .track-number,
  .site-name {
    color: $light-gray;
  }
  .track-progress-bar {
    display: none;
  }
}